<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.kc0_13</key>
    <dict>
      <key>public.kern2.kc0_12</key>
      <integer>-70</integer>
      <key>public.kern2.kc0_13</key>
      <integer>-70</integer>
      <key>public.kern2.kc0_16</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.kc0_16</key>
    <dict>
      <key>public.kern2.kc0_13</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.kc0_19</key>
    <dict>
      <key>public.kern2.kc0_10</key>
      <integer>-70</integer>
      <key>public.kern2.kc0_20</key>
      <integer>-10</integer>
      <key>public.kern2.kc0_5</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.kc0_24</key>
    <dict>
      <key>public.kern2.kc0_5</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.kc0_25</key>
    <dict>
      <key>public.kern2.kc0_12</key>
      <integer>-25</integer>
      <key>public.kern2.kc0_13</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.kc0_28</key>
    <dict>
      <key>public.kern2.kc0_13</key>
      <integer>-10</integer>
    </dict>
  </dict>
</plist>
