<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.kc0_1</key>
    <dict>
      <key>public.kern2.kc0_10</key>
      <integer>-200</integer>
      <key>public.kern2.kc0_2</key>
      <integer>-70</integer>
      <key>public.kern2.kc0_5</key>
      <integer>-150</integer>
      <key>public.kern2.kc0_6</key>
      <integer>-50</integer>
      <key>public.kern2.kc0_7</key>
      <integer>-170</integer>
      <key>public.kern2.kc0_8</key>
      <integer>-120</integer>
    </dict>
    <key>public.kern1.kc0_10</key>
    <dict>
      <key>public.kern2.kc0_5</key>
      <integer>-100</integer>
      <key>public.kern2.kc0_6</key>
      <integer>-30</integer>
      <key>public.kern2.kc0_7</key>
      <integer>-100</integer>
      <key>public.kern2.kc0_8</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.kc0_11</key>
    <dict>
      <key>public.kern2.kc0_10</key>
      <integer>-50</integer>
      <key>public.kern2.kc0_5</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.kc0_12</key>
    <dict>
      <key>public.kern2.kc0_5</key>
      <integer>-50</integer>
      <key>public.kern2.kc0_7</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.kc0_13</key>
    <dict>
      <key>public.kern2.kc0_1</key>
      <integer>-150</integer>
      <key>public.kern2.kc0_12</key>
      <integer>-150</integer>
      <key>public.kern2.kc0_13</key>
      <integer>-180</integer>
      <key>public.kern2.kc0_15</key>
      <integer>-150</integer>
      <key>public.kern2.kc0_16</key>
      <integer>-120</integer>
      <key>public.kern2.kc0_17</key>
      <integer>-180</integer>
      <key>public.kern2.kc0_19</key>
      <integer>-120</integer>
      <key>public.kern2.kc0_2</key>
      <integer>-50</integer>
      <key>public.kern2.kc0_20</key>
      <integer>-170</integer>
      <key>public.kern2.kc0_21</key>
      <integer>-120</integer>
      <key>public.kern2.kc0_22</key>
      <integer>-120</integer>
    </dict>
    <key>public.kern1.kc0_14</key>
    <dict>
      <key>public.kern2.kc0_1</key>
      <integer>-170</integer>
      <key>public.kern2.kc0_12</key>
      <integer>-100</integer>
      <key>public.kern2.kc0_13</key>
      <integer>-70</integer>
      <key>public.kern2.kc0_15</key>
      <integer>-70</integer>
      <key>public.kern2.kc0_16</key>
      <integer>-50</integer>
      <key>public.kern2.kc0_17</key>
      <integer>-70</integer>
      <key>public.kern2.kc0_2</key>
      <integer>-70</integer>
      <key>public.kern2.kc0_21</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.kc0_15</key>
    <dict>
      <key>public.kern2.kc0_1</key>
      <integer>-120</integer>
      <key>public.kern2.kc0_12</key>
      <integer>-70</integer>
      <key>public.kern2.kc0_13</key>
      <integer>-50</integer>
      <key>public.kern2.kc0_15</key>
      <integer>-50</integer>
      <key>public.kern2.kc0_16</key>
      <integer>-30</integer>
      <key>public.kern2.kc0_17</key>
      <integer>-30</integer>
      <key>public.kern2.kc0_19</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.kc0_16</key>
    <dict>
      <key>public.kern2.kc0_1</key>
      <integer>-200</integer>
      <key>public.kern2.kc0_13</key>
      <integer>-180</integer>
      <key>public.kern2.kc0_16</key>
      <integer>-100</integer>
      <key>public.kern2.kc0_19</key>
      <integer>-150</integer>
      <key>public.kern2.kc0_2</key>
      <integer>-70</integer>
      <key>public.kern2.kc0_21</key>
      <integer>-100</integer>
      <key>public.kern2.kc0_22</key>
      <integer>-150</integer>
    </dict>
    <key>public.kern1.kc0_18</key>
    <dict>
      <key>public.kern2.kc0_13</key>
      <integer>-20</integer>
      <key>public.kern2.kc0_14</key>
      <integer>-20</integer>
      <key>public.kern2.kc0_17</key>
      <integer>-20</integer>
      <key>public.kern2.kc0_20</key>
      <integer>-70</integer>
      <key>public.kern2.kc0_5</key>
      <integer>-200</integer>
      <key>public.kern2.kc0_8</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.kc0_19</key>
    <dict>
      <key>public.kern2.kc0_10</key>
      <integer>-180</integer>
      <key>public.kern2.kc0_20</key>
      <integer>-35</integer>
      <key>public.kern2.kc0_21</key>
      <integer>-50</integer>
      <key>public.kern2.kc0_5</key>
      <integer>-180</integer>
      <key>public.kern2.kc0_7</key>
      <integer>-70</integer>
      <key>public.kern2.kc0_8</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.kc0_2</key>
    <dict>
      <key>public.kern2.kc0_1</key>
      <integer>-70</integer>
      <key>public.kern2.kc0_10</key>
      <integer>-70</integer>
      <key>public.kern2.kc0_5</key>
      <integer>-50</integer>
      <key>public.kern2.kc0_7</key>
      <integer>-70</integer>
      <key>public.kern2.kc0_8</key>
      <integer>-20</integer>
      <key>public.kern2.kc0_9</key>
      <integer>-90</integer>
    </dict>
    <key>public.kern1.kc0_21</key>
    <dict>
      <key>public.kern2.kc0_15</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.kc0_22</key>
    <dict>
      <key>public.kern2.kc0_10</key>
      <integer>-120</integer>
      <key>public.kern2.kc0_5</key>
      <integer>-180</integer>
    </dict>
    <key>public.kern1.kc0_23</key>
    <dict>
      <key>public.kern2.kc0_10</key>
      <integer>-100</integer>
      <key>public.kern2.kc0_13</key>
      <integer>-50</integer>
      <key>public.kern2.kc0_5</key>
      <integer>-120</integer>
    </dict>
    <key>public.kern1.kc0_24</key>
    <dict>
      <key>public.kern2.kc0_10</key>
      <integer>-150</integer>
      <key>public.kern2.kc0_5</key>
      <integer>-120</integer>
    </dict>
    <key>public.kern1.kc0_25</key>
    <dict>
      <key>public.kern2.kc0_12</key>
      <integer>-50</integer>
      <key>public.kern2.kc0_13</key>
      <integer>-30</integer>
      <key>public.kern2.kc0_5</key>
      <integer>-120</integer>
    </dict>
    <key>public.kern1.kc0_26</key>
    <dict>
      <key>public.kern2.kc0_5</key>
      <integer>-150</integer>
    </dict>
    <key>public.kern1.kc0_28</key>
    <dict>
      <key>public.kern2.kc0_12</key>
      <integer>-80</integer>
      <key>public.kern2.kc0_13</key>
      <integer>-35</integer>
      <key>public.kern2.kc0_22</key>
      <integer>-20</integer>
      <key>public.kern2.kc0_5</key>
      <integer>-170</integer>
    </dict>
    <key>public.kern1.kc0_29</key>
    <dict>
      <key>public.kern2.kc0_10</key>
      <integer>-100</integer>
      <key>public.kern2.kc0_5</key>
      <integer>-120</integer>
    </dict>
    <key>public.kern1.kc0_3</key>
    <dict>
      <key>public.kern2.kc0_13</key>
      <integer>-30</integer>
      <key>public.kern2.kc0_17</key>
      <integer>-20</integer>
      <key>public.kern2.kc0_19</key>
      <integer>-30</integer>
      <key>public.kern2.kc0_2</key>
      <integer>-50</integer>
      <key>public.kern2.kc0_20</key>
      <integer>-120</integer>
    </dict>
    <key>public.kern1.kc0_4</key>
    <dict>
      <key>public.kern2.kc0_1</key>
      <integer>-150</integer>
      <key>public.kern2.kc0_12</key>
      <integer>-200</integer>
      <key>public.kern2.kc0_13</key>
      <integer>-180</integer>
      <key>public.kern2.kc0_15</key>
      <integer>-120</integer>
      <key>public.kern2.kc0_16</key>
      <integer>-120</integer>
      <key>public.kern2.kc0_17</key>
      <integer>-170</integer>
      <key>public.kern2.kc0_19</key>
      <integer>-120</integer>
      <key>public.kern2.kc0_2</key>
      <integer>-50</integer>
      <key>public.kern2.kc0_20</key>
      <integer>-170</integer>
      <key>public.kern2.kc0_21</key>
      <integer>-120</integer>
      <key>public.kern2.kc0_22</key>
      <integer>-170</integer>
      <key>public.kern2.kc0_3</key>
      <integer>-150</integer>
    </dict>
    <key>public.kern1.kc0_5</key>
    <dict>
      <key>public.kern2.kc0_10</key>
      <integer>-70</integer>
      <key>public.kern2.kc0_5</key>
      <integer>-50</integer>
      <key>public.kern2.kc0_7</key>
      <integer>-70</integer>
      <key>public.kern2.kc0_8</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.kc0_6</key>
    <dict>
      <key>public.kern2.kc0_1</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.kc0_7</key>
    <dict>
      <key>public.kern2.kc0_13</key>
      <integer>-50</integer>
      <key>public.kern2.kc0_2</key>
      <integer>-90</integer>
      <key>public.kern2.kc0_4</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.kc0_8</key>
    <dict>
      <key>public.kern2.kc0_10</key>
      <integer>-250</integer>
      <key>public.kern2.kc0_2</key>
      <integer>-50</integer>
      <key>public.kern2.kc0_5</key>
      <integer>-200</integer>
      <key>public.kern2.kc0_6</key>
      <integer>-30</integer>
      <key>public.kern2.kc0_7</key>
      <integer>-200</integer>
      <key>public.kern2.kc0_8</key>
      <integer>-150</integer>
    </dict>
    <key>public.kern1.kc0_9</key>
    <dict>
      <key>public.kern2.kc0_1</key>
      <integer>-170</integer>
      <key>public.kern2.kc0_10</key>
      <integer>-70</integer>
      <key>public.kern2.kc0_12</key>
      <integer>-100</integer>
      <key>public.kern2.kc0_13</key>
      <integer>-50</integer>
    </dict>
  </dict>
</plist>
